.refund-request {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}

.text-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;

  h1,
  p {
    color: var(--primary-text-color);
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}

:deep(.p-card-title) {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
}

.p-inputtext {
  border: 1px solid #c4c7ca;
}